.vs/
DependencyTracking.MongoDb.SampleApp/bin/
DependencyTracking.MongoDb.SampleApp/obj/
DependencyTracking.MongoDb.SampleWebApp/bin/
DependencyTracking.MongoDb.SampleWebApp/obj/
MongoTracking/bin/
MongoTracking/obj/
packages/
DependencyTracking.MongoDb/obj/
DependencyTracking.MongoDb/bin/
DependencyTracking.Abstraction/bin/
DependencyTracking.Abstraction/obj/
DependencyTracking.ApplicationInsight/bin/
DependencyTracking.ApplicationInsight/obj/
DependencyTracking.Http/bin/
DependencyTracking.Http/obj/
DependencyTracking.SampleApp/bin/
DependencyTracking.SampleApp/obj/
DependencyTracking.SampleCoreWebApp/bin/
DependencyTracking.SampleCoreWebApp/obj/
*.user
DependencyTracking.SampleWebApp/bin/
DependencyTracking.SampleWebApp/obj/
